<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Satellites</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
    <!-- <script type="text/javascript" src="KeyboardControls.js"></script> -->
    <!-- <script type="text/javascript" src="/javascripts/TrackballControl.js"></script> -->
    <script type="text/javascript" src="scripts/JSONLoader.js"></script>
    <script src="http://cdn.jsdelivr.net/velocity/1.2.1/velocity.min.js"></script>
    <script src="http://cdn.jsdelivr.net/velocity/1.2.1/velocity.ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
    <!-- <script src='https://code.responsivevoice.org/responsivevoice.js'></script> -->
    <!-- <script src='/javascripts/pages/ANIlandingpage.js'></script> -->
  </head>
  <body>
        <h1>This site is a work in progress</h1>

    <section id="container">

        <section id="buttons">
        <a href="gemini">Gemini</a>
        <a href="saturnV">Saturn V</a>
        <a href="voyager">Voyager</a>
        <a href="lunarlander">Lunar Lander</a>
        <a href="apollosoyuz">Apollo Soyuz</a>
        </section>
    </section>

    <section id="descriptions">
        <h1>Mission Overview</h1>
        <article id="gemini">
            <h3>Gemini</h3>
            <p>Just as Orion and the International Space Station are helping NASA learn how to go to Mars, the Gemini program defined and tested the skills NASA would need to go to the Moon in the 1960s and ‘70s. Gemini had four main goals: to test an astronaut's ability to fly long-duration missions (up to two weeks in space); to understand how spacecraft could rendezvous and dock in orbit around the Earth and the moon; to perfect re-entry and landing methods; and to further understand the effects of longer space flights on astronauts.</p>
            <p>Similar in design to the Mercury capsule but much larger, the new Gemini spacecraft was designed to carry two astronauts into Earth orbit to test long-duration flight, rendezvous and docking and other techniques needed for journeys to the moon.</p>
        </article>
        <article id="saturnV">
            <h3>Saturn V</h3>
            <p>The Saturn V was developed at NASA's Marshall Space Flight Center in Huntsville, Ala. It was one of three types of Saturn rockets NASA built. Two smaller rockets, the Saturn I (1) and IB (1b), were used to launch humans into Earth orbit. The Saturn V sent them beyond Earth orbit to the moon. The first Saturn V was launched in 1967. It was called Apollo 4. Apollo 6 followed in 1968. Both of these rockets were launched without crews. These launches tested the Saturn V rocket.</p>

            <p>The first Saturn V launched with a crew was Apollo 8. On this mission, astronauts orbited the moon but did not land. On Apollo 9, the crew tested the Apollo moon lander by flying it in Earth orbit without landing. On Apollo 10, the Saturn V launched the lunar lander to the moon. The crew tested the lander in space but did not land it on the moon. In 1969, Apollo 11 was the first mission to land astronauts on the moon. Saturn V rockets also made it possible for astronauts to land on the moon on Apollo 12, 14, 15, 16 and 17. On Apollo 13, the Saturn V lifted the crew into space, but a problem prevented them from being able to land on the moon. That problem was not with the Saturn V, but with the Apollo spacecraft. The last Saturn V was launched in 1973, without a crew. It was used to launch the Skylab space station into Earth orbit.</p>
        </article>
        <article id="voyager">
            <h3>Voyager</h3>
            <p>The twin Voyager 1 and 2 spacecraft are exploring where nothing from Earth has flown before. Continuing on their more-than-39-year journey since their 1977 launches, they each are much farther away from Earth and the sun than Pluto. In August 2012, Voyager 1 made the historic entry into interstellar space, the region between stars, filled with material ejected by the death of nearby stars millions of years ago. Scientists hope to learn more about this region when Voyager 2, in the “heliosheath" — the outermost layer of the heliosphere where the solar wind is slowed by the pressure of interstellar medium — also reaches interstellar space. Both spacecraft are still sending scientific information about their surroundings through the Deep Space Network, or DSN.</p>

            <p>The primary mission was the exploration of Jupiter and Saturn. After making a string of discoveries there — such as active volcanoes on Jupiter's moon Io and intricacies of Saturn's rings — the mission was extended. Voyager 2 went on to explore Uranus and Neptune, and is still the only spacecraft to have visited those outer planets. The adventurers' current mission, the Voyager Interstellar Mission (VIM), will explore the outermost edge of the Sun's domain. And beyond.</p>
        </article>
        <article id="lunarlander">
            <h3>Lunar Lander</h3>
            <p> The primary objective of Apollo 11 was to complete a national goal set by President John F. Kennedy on May 25, 1961: perform a crewed lunar landing and return to Earth.</p>
            <p> Armstrong and Aldrin spent 21 hours, 36 minutes on the moon's surface. After a rest period that included seven hours of sleep, the ascent stage engine fired at 124 hours, 22 minutes. It was shut down 435 seconds later when the Eagle reached an initial orbit of 11 by 55 miles above the moon, and when Columbia was on its 25th revolution.</p>
        </article>
        <article id="apollosoyuz">
            <h3>Apollo Soyuz</h3>
            <p> The Apollo-Soyuz Test Project (ASTP) was the first space mission to be undertaken as a joint effort between the United States and the Soviet Union. While the fight itself lasted only nine days, from 15-24 July 1975, the planning for it stretched back to 1970. The mission was a resounding success for both nations. Techniques for the future joint space efforts were practiced and a number of success for both nations. Techniques for future joint scientific experiments conducted. The mission was a success, not only as a space flight, but also as a practical expression of the cooperation that existed at the time between the United States and Soviet Union. </p>
        </article>
    </section>

    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/info.js"></script>
  </body>
</html>